# Control structure

Condicional if-elif-else

In [ ]:
## if-else
num = -5
if num > 0:
  print("The number is positive.")
else:
  print("The number is negative.")

The number is negative.

In [ ]:
## elif
score = 85
if score >= 90:
  grade = "A"
elif score >= 80:
  grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
  grade = "D"
else: grade = "F"
print("Your grade is:", grade)

Your grade is: B

# Control structure
* foor  
* while
* foreach

In [ ]:
# While
x = 1
while x < 5:
  print (x)
  x += 1

1
2
3
4

In [ ]:
# For
numeros = [18, 50, 90, -20, 100, 80, 37]
for n in numeros:
  print (n)

# for in string
palabra = "Python"

for letra in palabra:
  print(letra)

18
50
90
-20
100
80
37
P
y
t
h
o
n

# Logical operators

Logics operatorsm which include AND, OR and NOT, are essentials tools that allow you to combine booleans expressions to form more complex conditions.

* and
* or
* not

# Aritmetic operators
* sum (+)
* substract (-)
* multiplication (*)
* division (/)
* integer division (//)
* module (%)
* power (**)

# Comparation operators
* Equals to (==)
* Not equals to (!=)
* Greater than (>)
* Less than (<)
* Greater than or equal to (>=)
* Less than or equal to (<=)

# Recursivity
Recursivity in a Python function refers to the function's ability to call itself within its own definition.

In [ ]:
def factorial(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n * factorial(n-1)

print(factorial(5))

120

# Data type

* int (e.g. 5, -3, 0)
* float (e.g. 134.45, -1.1764)
* boolean (true, false)
* string ("Hola")

# Functions in programation
Functions are reusable blocks of code that perform a specific task. They help structure the program and avoid code duplication.

**Parameters and return of values:**
Functions often receive parameters that represent input data and can return results, facilitating interaction between differents parts of the program.

#Data Structure in python

* Lists: Lists are ordered and mutable collections of elements. They can be modified(add, delete or change elements) and can contain differents types of data

In [ ]:
my_list = [1,2,3, "Hola", True]

# common operations
my_list.append("nuevo")
print(my_list)
my_list[0] = 10
print(my_list)
print(my_list[2])
my_list.remove("Hola")
print(my_list)

[1, 2, 3, 'Hola', True, 'nuevo']
[10, 2, 3, 'Hola', True, 'nuevo']
3
[10, 2, 3, True, 'nuevo']

* Tuples: Tuples are ordered but immutable collections, that is, they can't be modified once created.

In [ ]:
my_tuple = (1,2,3, "Hola")

#common operations
print(my_tuple[1])
print(len(my_tuple))
"hola" in my_tuple

2
4

False

* Dictionary: Dictionaries storage data in key:value pairs. They are mutables and unordered (Although in recent versions of python they preserve the insertion order)

In [ ]:
my_dict = {
    "persona 1":{
        "nombre": "Ana",
        "edad" : 25,
        "correo" : "ana@example.com"
        },
    "persona 3": {
        "nombre" : "Claudia",
        "edad" : 28,
        "correo": "claudia@example.com"
    }
}

for persona, valores in my_dict.items():
  print(persona, valores)
print(my_dict["persona 1"])
print(my_dict["persona 1"]["nombre"])

persona 1 {'nombre': 'Ana', 'edad': 25, 'correo': 'ana@example.com'}
persona 3 {'nombre': 'Claudia', 'edad': 28, 'correo': 'claudia@example.com'}

In [ ]:
# prompt: do you can create to env bash for using command ?

!echo "export MY_VARIABLE='Hello from Colab'"
!ls
!pwd

export MY_VARIABLE='Hello from Colab'
sample_data
/content

# Data structure in python: Exercise
1. Create a program that allows to register several students.
2. Add at least 3 students to the dictionary
3. Scrolls through the dictionay and prints the name and numbers of course taken by each student.
4. Allows the user to consult a student's data by entering the student's password.

In [10]:
# Tasks:
# number 1 and 2
estudiantes = {
    "est1": {"nombre": "Ana", "edad": 20, "cursos": ["Matemáticas", "Física"]},
    "est2": {"nombre": "Luis", "edad": 22, "cursos": ["Historia", "Literatura"]},
    "est3": {"nombre": "Carlos", "edad" :23, "cursos": ["Biologia", "Química"]}
}
# number 3
for estudiante in estudiantes:
  print(estudiantes[estudiante]["nombre"], "tiene", len(estudiantes[estudiante]["cursos"]), "cursos")
  print(f'{estudiantes[estudiante]["nombre"]} tiene {len(estudiantes[estudiante]["cursos"])} cursos')

#for key, value in estudiantes.items():
  #print(key, value)

Ana tiene 2 cursos
Ana tiene 2 cursos
Luis tiene 2 cursos
Luis tiene 2 cursos
Carlos tiene 2 cursos
Carlos tiene 2 cursos

In [22]:
# number 4
key_est = input("input key to consult: ")

for key, value in estudiantes.items():
  if key == key_est:
    print (value)

input key to consult: est1
{'nombre': 'Ana', 'edad': 20, 'cursos': ['Matemáticas', 'Física']}