# 游냀 Ejercicios de Python: Listas, Tuplas y Funciones

Este notebook contiene m치s de 20 ejercicios pr치cticos para afianzar tus conocimientos sobre **listas**, **tuplas**, y **funciones** en Python.

## 游늶 Listas

### Ejercicio 1

Crea una lista con los n칰meros del 1 al 20. Imprime solo los n칰meros pares.

In [ ]:
numeros = list(range(1, 21))
lista = []
for num in numeros:
  lista.append(num)
  if num % 2 == 0:
    print(num)
print (lista)

2
4
6
8
10
12
14
16
18
20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Ejercicio 2

Calcula la suma total de los elementos en la lista `[4, 7, 1, 42, 8]`.

In [ ]:
lista = [4, 7, 1, 42, 8]
suma = 0
for num in lista:
  suma = suma + num
print (suma)
# Tu c칩digo aqu칤

62

### Ejercicio 3

Agrega el n칰mero 99 al final de la lista `[1, 2, 3]`.

In [ ]:
lista = [1, 2, 3]
lista.append(99)
print (lista)
# Tu c칩digo aqu칤

[1, 2, 3, 99]

### Ejercicio 4

Invierte la lista `[5, 10, 15, 20]` sin usar `reverse()`.

In [ ]:
lista = [5, 10, 15, 20]
lista_inverse = []

for i in range(len(lista) -1, -1, -1):
  lista_inverse.append(lista[i])
print (lista_inverse)

[20, 15, 10, 5]

### Ejercicio 5

Elimina todos los elementos duplicados de la lista `[1, 2, 2, 3, 3, 3, 4]`.

In [ ]:
# prompt: elimina todos los elementos duplicados de una lista utilizando pop y bucle for

def remove_duplicates(input_list):
    unique_list = []
    for item in input_list:
        if item not in unique_list:
            unique_list.append(item)
        else:
            # Simulate pop behavior without modifying original list
            pass
    return unique_list

lista = [1, 2, 2, 3, 3, 3, 4]

# Tu c칩digo aqu칤
#lista = [1, 2, 2, 3, 3, 3, 4]
#lista_sin_duplicados = remove_duplicates(lista)
#lista_sin_duplicados

In [ ]:
## solve this proble with method for.
lista = [1, 2, 2, 3, 3, 3, 4]
lista_sin_repes = []
i = 0

while i < len(lista) - 1:
    if lista[i] == lista[i + 1]:
        lista.pop(i + 1)  # remove the duplicate (not the original)
    else:
        i += 1  # only move to next index if no duplicate was removed

print(lista)

for i in range(len(lista)):
    if i == 0 or lista[i] != lista[i - 1]:
        lista_sin_repes.append(lista[i])

print(lista_sin_repes)

[1, 2, 3, 4]
[1, 2, 3, 4]

### Ejercicio 6

Imprime solo los elementos mayores a 10 en la lista `[4, 11, 32, 7, 2]`.

In [ ]:
lista = [4, 11, 32, 7, 2]
for num in lista:
  if num > 10:
    print (num)
# Tu c칩digo aqu칤

11
32

### Ejercicio 7

Cuenta cu치ntas veces aparece el n칰mero 3 en la lista `[3, 1, 3, 5, 3, 7]`.

In [ ]:
lista = [3, 1, 3, 5, 3, 7]
contador = 0
for num in lista:
  if num == 3:
    contador = contador + 1
print (contador)
# Tu c칩digo aqu칤

3

### Ejercicio 8

Ordena la lista `[9, 3, 6, 1]` en orden ascendente sin usar `sort()`.

In [ ]:
lista = [9, 3, 6, 1]
for i in range(len(lista)):
  for j in range(i + 1, len(lista)):
    if lista[i] > lista[j]:
      lista[i], lista[j] = lista[j], lista[i]
print (lista)

[1, 3, 6, 9]

## 游닍 Tuplas

### Ejercicio 9

Imprime las posiciones donde aparece el n칰mero 3 en la tupla `(3, 6, 3, 9, 3, 12)`.

In [ ]:
mi_tupla = (3, 6, 3, 9, 3, 12)
# Tu c칩digo aqu칤

In [ ]:
for i in range(len(mi_tupla)):
  if mi_tupla[i] == 3:
    print (i)

0
2
4

### Ejercicio 10

Convierte la lista `[1, 2, 2, 3, 3, 3]` a una tupla sin duplicados.

In [ ]:
lista = [1, 2, 2, 3, 3, 3]

unique_list = []
for item in lista:
  if item not in unique_list:
    unique_list.append(item)

print(tuple(unique_list))

(1, 2, 3)

### Ejercicio 11

Accede al tercer elemento de la tupla `(10, 20, 30, 40)`.

In [ ]:
mi_tupla = (10, 20, 30, 40)
# Tu c칩digo aqu칤
print (mi_tupla[2])

30

### Ejercicio 12

Verifica si el n칰mero 7 est치 en la tupla `(1, 3, 5, 7, 9)`.

In [ ]:
mi_tupla = (1, 3, 5, 7, 9)
# Tu c칩digo aqu칤
for value in mi_tupla:
  if value == 7:
    print (True)
    break

True

## 游댢 Funciones

### Ejercicio 13

Crea una funci칩n `suma_lista(lista)` que devuelva la suma de los elementos de una lista.

In [ ]:
def suma_lista(lista):

    # Tu c칩digo aqu칤
    suma = 0
    for num in lista:
      suma = suma + num
    return suma
lista = [1, 2, 3, 4, 5]
suma_lista(lista)

15

### Ejercicio 14

Crea una funci칩n que verifique si un n칰mero est치 en una tupla.

In [ ]:
def esta_en_tupla(tupla, numero):
    # Tu c칩digo aqu칤
    for element in tupla:
      if element == numero:
        return True
      else:
        return False
    pass

tupla = (1, 2, 3, 4, 5)
numero = 6
esta_en_tupla(tupla, numero)

False

### Ejercicio 15

Crea una funci칩n que devuelva el mayor de tres n칰meros.

In [ ]:
def max_de_tres(a, b, c):
    # Tu c칩digo aqu칤
    if a > b and a > c:
      return a
    elif b > a and b > c:
      return b
    else:
      return c
    pass
max_de_tres(1, 4, 2)

4

### Ejercicio 16

Crea una funci칩n que reciba una lista de nombres y los imprima uno por uno.

In [ ]:
def imprimir_nombres(lista):
    if type (lista)  == list:
      for indices in range(len(lista)):
        print(lista[indices])
    else:
      print("No es una lista")
lista = ["Juan", "Pedro", "Pablo"]

#print(type(lista))
imprimir_nombres(lista)

Juan
Pedro
Pablo

### Ejercicio 17

Crea una funci칩n que reciba una lista y devuelva una nueva con los elementos al cuadrado.

In [ ]:
def cuadrados(lista):
  if type (lista) == list:
    lista_cuadrados = []
    for num in lista:
      lista_cuadrados.append(num**2)
    return lista_cuadrados
  else:
    print("No es una lista")

    # Tu c칩digo aqu칤
    pass

lista = [1, 2, 3, 4, 5]
cuadrados(lista)

[1, 4, 9, 16, 25]

### Ejercicio 18

Crea una funci칩n que reciba una lista y devuelva otra lista con solo los n칰meros pares.

In [ ]:
def filtrar_pares(lista):
  # Tu c칩digo aqu칤
  if type (lista) == list:
    lista_pares = []
    for index in range(len(lista)):
      if lista[index] % 2 == 0:
        lista_pares.append(lista[index])
    return lista_pares
  else:
    print("No es una lista")

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtrar_pares(lista)

[2, 4, 6, 8, 10]

### Ejercicio 19

Crea una funci칩n que reciba una cadena y devuelva `True` si es un pal칤ndromo.

In [ ]:
def es_palindromo(cadena):
  # Tu c칩digo aqu칤
  if cadena == cadena[::-1]:
    return True
  else:
    return False
    pass
cadena = "reconocer"
es_palindromo(cadena)

True

### Ejercicio 20

Crea una funci칩n que reciba una lista y devuelva el promedio de los valores.

In [ ]:
def promedio(lista):
    # Tu c칩digo aqu칤
    suma = 0
    for num in lista:
      suma = suma + num
    return suma / len(lista)
    pass
lista = [1, 2, 3, 4, 5]
promedio(lista)

3.0